{% extends "base.html" %}
	{% block title %}
		Título
	{% endblock %}

	{% block body %}
		<div class="jumbotron">
	      <div class="container">
	        <h1>Hello, world!</h1>
	        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
	        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
	      </div>
	    </div>
	{% endblock %}

	{% block container %}    
		{% if enquetes|length > 0 %}
				<div class="row">
			{% for enquete in enquetes %}
			        <div class="col-md-4">
			          <h2>{{ enquete.titulo }}</h2>
			          <p>{{	enquete.descricao | truncatechars:400 }}</p>
			          <div class="tags_enquetes">
			          {% for tag in enquete.tags.all %}
			          		<a href="#">@{{ tag.titulo }}</a>
			          {% endfor %}
			      	  </div>
			          <p><a class="btn btn-default" href="#" role="button">Ver Detalhes &raquo;</a></p>
			        </div>
			{% endfor %}
			    </div>

		{% else %}
			<h3> Não há enquetes </h3>
		{% endif %}
	{% endblock %}